<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic tac toe</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="top left square"></div>
      <div class="top center square"></div>
      <div class="top right square"></div>
    </div>
    <div class="row">
      <div class="middle left square"></div>
      <div class="middle center square"></div>
      <div class="middle right square"></div>
    </div>
    <div class="row">
      <div class="bottom left square"></div>
      <div class="bottom center square"></div>
      <div class="bottom right square"></div>
    </div>
  </div>
</body>
</html>