<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form>
    <h3>Contact form</h3>
    <div class="container">
      <label for="firstname">First name</label>
      <input type="text" name="firstname" id="firstname" placeholder="Your first name...">
      <label for="lastname">First name</label>
      <input type="text" name="lastname" id="lastname" placeholder="Your last name...">
      <label for="country">Country</label>
      <select name="country" id="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
      </select>
      <label for="subject">Subject</label>
      <textarea name="subject" id="subject" cols="30" rows="10"></textarea>
      <input type="submit" value="Submit">
    </div>
  </form>

</body>
</html>